/* 
    Document   : stylesheet
    Created on : 26 Oct, 2014, 4:55:49 PM
    Author     : Dhyan
    Description:
        Purpose of the stylesheet follows.
*/
body {
    background: rgb(173, 216, 230);
    color: #000;    
}
.ui-icon {
    zoom: 1.2 !important;
    /*color: #000;*/
}

.ui-menuitem .ui-menuitem-text {
    color: #000;
}

#j_idt8form1messages1 {
    width: 75%;
    margin: auto;
}

.ui-menu .ui-menu-child {
    /*background: #c4c4c4 url("/AppLicense/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") top repeat-x;*/
    /*background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));*/
    background: #d8cb5f -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;;
    /*background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));*/
}

.pMainStyle{
    width: 76% !important;;
    margin: auto !important;    
}

.alertMsg{
    /*width: 76% !important;*/
    margin: auto !important; 
    font-weight: bold !important;
}

form{
    /*font-size: medium !important;*/
    font-size: small !important;
}

 .ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 0 !important;    
}

.mainPanelGrid.ui-panelgrid>*>tr,
.mainPanelGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}


.trackLocation {
   background-color:rgb(196, 196, 196);
   width: 25px;
   height: 25px;
}
/*Row flash*/

/*Row flash*/
@-webkit-keyframes alarmGreen {
  from { background-color: greenyellow; }
  to { background-color: inherit; }
}
@-moz-keyframes alarmGreen {
  from { background-color: greenyellow; }
  to { background-color: inherit; }
}
@-o-keyframes alarmGreen {
  from { background-color: greenyellow; }
  to { background-color: inherit; }
}
@keyframes alarmGreen {
  from { background-color: greenyellow; }
  to { background-color: inherit; }
}
.alarmGreen {
  -webkit-animation: alarmGreen 1.5s infinite; /* Safari 4+ */
  -moz-animation:    alarmGreen 1.5s infinite; /* Fx 5+ */
  -o-animation:      alarmGreen 1.5s infinite; /* Opera 12+ */
  animation:         alarmGreen 1.5s infinite; /* IE 10+ */
}

@-webkit-keyframes alarmRed {
  from { background-color: red; }
  to { background-color: inherit; }
}
@-moz-keyframes alarmRed {
  from { background-color: red; }
  to { background-color: inherit; }
}
@-o-keyframes alarmRed {
  from { background-color: red; }
  to { background-color: inherit; }
}
@keyframes alarmRed {
  from { background-color: red; }
  to { background-color: inherit; }
}
.alarmRed {
  -webkit-animation: alarmRed 1.5s infinite; /* Safari 4+ */
  -moz-animation:    alarmRed 1.5s infinite; /* Fx 5+ */
  -o-animation:      alarmRed 1.5s infinite; /* Opera 12+ */
  animation:         alarmRed 1.5s infinite; /* IE 10+ */
}

.picStatusCorrect {
    background-image:  url("/tass/faces/javax.faces.resources/image/BallGreen.gif");
    background-repeat: no-repeat;
}

.picStatusWrong {
    background-image:  url("/tass/faces/javax.faces.resources/image/BallRed.gif");
    background-repeat: no-repeat;
}
.picStatusUnknown {
    background: url("/tass/faces/javax.faces.resources/image/BallGray.gif");
    background-repeat: no-repeat; 
}

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td, .ui-datatable-resizable tfoot td {
    white-space: normal !important; 
}

.alarmRedFont {
    font-weight : bold;
    color: red;
}

.ui-datatable-header,.ui-datatable-scrollable-header {
    background: rgba(255, 127, 80, 1) !important;
}

.ui-datatable-even{    
      background: rgba(245, 222, 179, 1) !important;
}
 
.ui-datatable-odd{    
      background: rgba(245, 222, 179, 1) !important;
}

.ui-button{
      background: rgb(79, 115, 148) !important;
 }

 .ui-button-text{
      color: yellow;
      text-shadow: none !important;
 }

.ui-button.ui-state-hover, .ui-button.ui-state-active{
     border: none !important;;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {   
    background: #ff8c61 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0)) !important;
    background: #ff8c61 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
}*/
   
.ui-clock {
   background: #ff8c61 !important;
   background: #ff8c61 !important ;
}

.tableStyleClass {
    background: rgba(245, 222, 179, 1) !important;
}

.ui-panelgrid.ui-noborder .ui-widget-content {
   background: rgba(245, 222, 179, 1) !important;
}

.ui-state-default, .ui-widget-header .ui-state-default {   
    background: rgb(255, 140, 97);    
    text-shadow: none !important;
}

.vertical-top-align td{
    vertical-align: top !important;
}

.ui-selectonemenu-items {
	background-color : rgb(255,255,255) !important;
}

.ui-selectcheckboxmenu-input-token input {
    background-color: rgb(255,255,255) !important;
}

.ui-state-active { 
	background: rgb(255,255,255) !important;; 
}

